.card-container{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 100px;

}

.card {
    display: flex;
    height: 370px;
    border-left: 2px dashed #707070;

}

.card:last-child{
    border-left: none !important;
}

@media screen and (min-width: 320px) and (max-width:1024px){
    .card-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
        padding: 0;
    }
    .card {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        border-left: none;
        
    
    }
}
@media screen and (width: 1024px){
    .card {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        border-left: none;
        border-left: 2px dashed #707070;
    
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
    .card-container{
        margin-left: 65px;
    }
}