.card-container{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: 100px;
    margin-left: 100px;
}

.card {
    display: flex;
    height: 370px;
    border-left: 2px dashed #707070;

}

.card:last-child{
    border-left: none !important;
}