.certified-container{
    display: flex;
    padding: 25px 50px;
    min-height: 500px;
}

@media screen and (min-width: 320px) and (max-width:1024px){
    .certified-container{
        display: flex;
        padding: 25px 30px;
        min-height: 370px;

        overflow-x: scroll;
    }
}

@media screen and (min-width: 1025px) and (max-width:1440px){
    .certified-container{
        display: flex;
        padding: 25px 5px;
        min-height: 370px;
        margin-bottom: 100px;
        overflow-x: scroll;
    }
}