body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;

}

.overlay{
    background: rgba(49,49,49, 0.8);
}

.modal-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 320px;
}

.form{
    width: 300px;
    height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.modal-header{
    height: auto;
    text-align: center;
    width: 300px;
    padding: 10px 0;
    color: #C0B59F;
    background-color: #FFF;
    border-top-left-radius: 3px;
    font: normal normal bold 15px/28px Segoe UI;
    border-top-right-radius: 3px;
    box-shadow: inset 0 0 3px #707070;
}

.label{
    display: flex;
    font-weight: 500;
    color: #707070;
    flex-direction: column;
}

#textarea{
    width: 177px;
    height: 84px;
    resize: none;
    border: 1px solid #707070;
    border-radius: 3px;
}

#input-text{
    height: 25px;
    border: 1px solid #707070;
    border-radius: 3px;
    width: 177px;
}

.buttons-modal{
    display: flex;
    justify-content: space-between;
    width: 55%;
}
.button{
    width: 75px;
    background: #fff;
    border: none;
    box-shadow: 0px 3px 6px #00000029;
    height: 30px;
    border-radius: 4px;
    color: #000;
    font: normal normal 600 13px/27px Segoe UI;
}

.button:hover{
    color:#fff;
    background: #C0B59F;
}
