.cards-how-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 21px;
    padding: 80px 0;
}

@media screen and (min-width: 320px) and (max-width: 768px){
    .cards-how-container{
        grid-template-columns: auto;
        padding: 20px 5px 40px 10px;
    }
}


@media screen and (width: 768px){
    .cards-how-container{
        grid-template-columns: auto auto;
        padding: 20px 0 40px 0; 
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cards-how-container{
        grid-template-columns: auto auto;
        padding: 20px 0 40px 0; 
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .cards-how-container{
        grid-template-columns: auto auto auto;
        padding: 20px 0 40px 0; 
    }
}


/* @media screen and (min-width: 320px) and (max-width:374.9px){
   
}

@media screen and (min-width: 375px) and (max-width: 424.9px){

   
}
@media screen and (min-width: 425px) and (max-width: 768px){
    
} */




