.header-container{
    height: 66px;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-container{
    display: flex;
    align-items: center;
}
.hide{
    display: none;
}
.options-container{
    display: flex;
    align-items: center;
    padding-right: 20px;
    justify-content: space-between;
    width: 100%;

}
.hamburger{
    display: none;
}
#options-left{
    margin-right: 625px;
}
#option-modwell{
    padding:16.5px;
    font: normal normal normal 17px/23px Bahnschrift;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-transform: lowercase;
}
.resp-menu{
    text-align: center;
    flex-direction: column;
    width: 100vw;
}

.options{
    padding:16.5px;
    font: normal normal normal 17px/23px Bahnschrift;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-transform: uppercase;
    cursor: pointer;
}
.link:hover, .options:hover{
    color: #B4A78C;
}

.active{
    color: #B4A78C !important; 
}

.link{
    padding:16.5px;
    font: normal normal normal 17px/23px Bahnschrift;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    text-transform: uppercase;
    text-decoration: none;
}

.modwell{
    text-decoration: none;
    text-align: left;
    font: normal normal 300 35px/49px Bahnschrift;
    letter-spacing: 0px;
    color: #B4A78C;
    opacity: 1;
    padding-right: 15px;
    border-right: 2px solid #B4A78C;
}
.user-photo{
    height: 41px;
    border-radius: 50%;
    margin-top: 6px;
}

.line{
    min-width: 25px;
    min-height: 3px;
    margin-bottom: 2px;
    background-color: #000000;       
}

.two-left-elements{
    display: none;
}




@media screen and (min-width: 320px) and (max-width: 1024px){
    .options-container{
        display: none;
    }
    .two-left-elements{
        display: flex;
    }
    .options:hover{
        color: #B4A78C;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        padding: 25px 10px;
    }
    .resp-menu{
        background-color: #F8FAFC;
        position: absolute;
        z-index: 10;
    }
    .link{
        padding: 0;
    }

    .link:hover, .options:hover{
        color: #B4A78C;
    }
    .user-photo{
        height: 41px;
        border-radius: 50%;
        margin-top: 12px;
        margin-left: 20px;
    }
    .header-container{
        justify-content: center;
    }

    
}