.container{
    background-color: #fff;
    
}
.content{
    padding: 0 180px;
}


.content-network{
    padding: 0 85px;
}

@media screen and (min-width: 320px) and (max-width:768px){
    .content{
        padding: 0;
    }
    .content-responsive-my-retwork{
        padding: 0;
    }
}

@media screen and (min-width: 769px) and (max-width:1024px){
    .content{
        padding: 0 100px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px){
    .content{
        padding: 0 85px;
    } 
}
