.dashboard-container{
    width: 100%;
}

.dashboard-header{
    margin: 92px 0;
}

.dashboard-title{
    text-align: left;
    font: normal normal bold 35px/50px Bahnschrift;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 0;
}

.dashboard-subtitle{
    text-align: left;
    font: normal normal 300 25px/15px Bahnschrift;
    letter-spacing: 0px;
    color: #B4A78C;
    opacity: 1;
}

@media screen and (min-width: 320px) and (max-width:768px){
    .dashboard-header{
        margin: 30px 0;
        padding: 0 40px;    
    }

}



