
.card-text{
    display: flex;
    flex-direction: column;
    width: 50%;
}


.card-title{
    text-align: left;
    font: normal normal 400 30px/40px Bahnschrift;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding: 25px 0 0 0;
}
.card-subtitle{
    text-align: left;
    font: normal normal normal 20px/15px Bahnschrift;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
}

.card-description{
    margin-top: 31px;
    text-align: left;
    font: normal normal normal 20px/21px Bahnschrift;
    letter-spacing: 0px;
    color: #707070;
    opacity: 1;
    width: 547px;
    height: 108px;
}

.card-image{
    width: 50%;
}

.img-card{
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
    width: 553px;
    height: 312px;
}

.icon-card{
    position: relative;
    width: 118px;
    height: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10px;
    left: -55px;
    background-color: #000000;
    z-index: 9;
    border-radius: 25px;
}